body {
  background: #fff;
  font-family: arial;
}
.container {
  width: 970px;
  margin: auto;
}
.container header {
  background: #000;
  height: 120px;
  width: 100%;
  color: #fff;
  text-align: center;
  margin: 0;
}
.container header p {
  margin: 0;
}
.container header .logo {
  margin: 20px 0 0  25px;
  float: left;
}
.container header nav {
  float: right;
  display: block;
  margin: 10px 10px 0 0;
  background-color: #fff;
  width: 400px;
  height: 30px;
  color: #000;
}
.banner {
  width: 100%;
  height: 317px;
  background: #e77189;
  color: #fff;
  text-align: center;
}
.banner p {
  margin: 0;
}
.wrapArticleHome {
  background-color: #ffae36;
  width: 950px;
  padding: 10px;
  height: auto;
  float: left;
  text-align: center;
}
.wrapArticleHome p {
  color: #2e2e2e;
}
.artHome {
  width: 306px;
  margin: 0 5px;
  float: left;
  height: 271px;
  color: #343436;
  text-align: center;
  background-color: #c7c7c7;
}
.artHome p {
  margin: 0;
}
.pubHome {
  width: 644px;
  float: left;
  height: 450px;
  background-color: #bac3d2;
  text-align: center;
  border: 1px solid #000;
}
.pubHome a {
  display: block;
  background-color: #ccc;
  width: 233px;
  height: 124px;
  margin: 12px 40px;
  text-align: center;
  text-decoration: none;
  color: #000;
}
.pubHome a:nth-child(even) {
  float: left;
}
.pubHome a:nth-child(odd) {
  float: right;
}
.calendar {
  float: left;
  width: 324px;
  height: 452px;
  color: #fff;
  text-align: center;
  background-color: #568add;
}
.calendar p {
  margin: 0;
}
footer {
  width: 100%;
  height: 46px;
  background: #000;
  clear: both;
  color: #fff;
  text-align: center;
}
footer p {
  margin: 0;
}
.bannerSubHome {
  width: 970px;
  height: 350px;
  background: #e77189;
  color: #fff;
  text-align: center;
}
.bannerSubHome p {
  margin: 0;
}
.subBanner {
  width: 970px;
  height: 207px;
  background-color: #8a320c;
  margin: 25px 0 0 0;
  color: #fff;
  text-align: center;
}
.mainSubHome {
  width: 578px;
  background-color: #bac3d4;
  height: auto;
  float: left;
  border: 1px solid #000;
  text-align: center;
}
.mainSubHome .txt {
  text-align: left !important;
  padding: 0 20px ;
}
.mainSubHome a {
  width: 248px;
  height: 380px;
  background-color: #ccc;
  color: #000;
  text-align: center;
  display: block;
  margin: 22px 18px;
  text-decoration: none;
}
.mainSubHome a:nth-child(even) {
  float: left;
}
.mainSubHome a:nth-child(odd) {
  float: right;
}
.mainSubHome img {
  margin: 20px 0;
}
.asideSubHome {
  width: 390px;
  height: auto;
  background-color: #568add;
  float: left;
}
.asideSubHome .asideImg {
  width: 345px;
  height: 345px;
  background-color: #84bd3c;
  margin: 25px auto ;
  text-align: center;
  color: #000;
}
.asideSubHome .widget {
  width: 345px;
  height: 350px;
  background-color: #666;
  color: #fff;
  margin: 25px auto;
  text-align: center;
}
.asideSubHome .twitter {
  width: 345px;
  height: 140px;
  background-color: #e7718b;
  color: #fff;
  margin: 25px auto;
  text-align: center;
}
